<div class="footer">
	<div class="footer-container">
    
		<div class="info-top">
			<img
				src="/documents/d/guest/logo-avanis-white-text"
				alt="Logo Avanis"
				class="footer__logo"
			/>

			<div class="footer__contact">
				<p class="footer__contact-any-question">
					¿Tienes alguna pregunta?
				</p>
				<p class="footer__paragraph-strong">
					Contactanos en 
					<a href="mailto:soporte@avanis.es">
						soporte@avanis.es
					</a>
				</p>
				<p>
					O visita nuestras redes sociales
				</p>
				<div class="footer__sm-links">
					<a href="https://www.facebook.com/AvanisAgro" target="_blank">
						<img src="/documents/d/guest/facebook-icon" alt="Imagen con enlace a  Imagen con enlace a Facebook" class="footer__sm-link-icon" />
					</a>
					<a href="https://www.whatsapp.com/channel/0029VaLBTYqAzNbydD1Siy1V" target="_blank">
						<img src="/documents/d/guest/whatsapp-icon" alt="Imagen con enlace a Whatsapp" class="footer__sm-link-icon" />
					</a>
					<a href="https://www.linkedin.com/company/avanis-agro/" target="_blank">
						<img src="/documents/d/guest/linkedin-icon" alt="Imagen con enlace a Linkedin" class="footer__sm-link-icon" />
					</a>
					<a href="https://www.instagram.com/avanisagro" target="_blank">
						<img src="/documents/d/guest/instagram-icon" alt="Imagen con enlace a Instagram" class="footer__sm-link-icon" />
					</a>
				</div>
			</div>
		</div>
		
		<div class="info-separator"></div>
		
		<div class="info-bottom">
			<div class="footer__by">
				<span> Powered by Santander </span>
			</div>
			<div class="footer__footer-menu">
				<lfr-widget-nav></lfr-widget-nav>
			</div>
		</div>

	</div>
</div>
