@import "../mixins/mixin";

.home-3-columns__opinion {
	&__title {
		@include h2;
		margin-bottom: 16px;
		width: 100%;
		font-weight: 500;
	}

	&__panel {
		@media (min-width: 769px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			}
	}

	&__card {
		@media (min-width: 769px) {
			border: 0;
			padding: 16px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			}

		&__autor {
			display: flex;
			gap: 8px;

			&__title {
				margin: 0;
				font-size: 14px;
				line-height: 20px;
				font-weight: 600;
			}

			&__position {
				margin: 0;
				font-size: 14px;
			}

			&__image {
				width: 40px !important;
					min-width: 40px !important;
				height: 40px !important;
				min-height: 40px !important;
				border-radius: 50% !important;
					gap: 8px;
			}
		}

		&-description {
			p {
				margin-bottom: 0;
			}
		}
	}
}

