@import "../mixins/mixin";

.home-hero-register {
  background-color: #c6e75a;
  border-radius: 24px;
  padding: 40px 64px;

  &__title {
    @include h2;
    margin-bottom: 16px;
    font-weight: 500;
  }

  &__steps {
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__step {
      align-items: center;
      display: flex;
      margin-bottom: 16px;
      
      @media (min-width: 769px) {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0;
        margin-right: 16px;
      }

      &__image {
        margin-right: 16px;
        width: 32px;
        height: 32px;

        @media (min-width: 769px) {
          margin-bottom: 16px;
          margin-right: 0;
        }
      }
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    
    a {
      @include button;
      width: 100%;
      margin-top: 16px;
    }
  }
}