@import 'av_modal';
@import 'widget_modal';

section#content {
  background-color: #efefe8;
}

.avanis-compartir-widget-portlet  {

}

.compartir-copiar-enlace{
  //styleName: Link L;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
color: #107E3E;
}

.portlet-boundary_avanis_compartir_rrss_portlet_AvanisCompartirRrssPortlet_ {
  width: 100%;
}