.av-plot-card {
  grid-gap: 0 24px;
  display: grid;
  gap: 0 24px;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px 0;

  .av-plot-photo img {
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    min-width: 75px;
  }
  .av-plot-data {
    font-size: 14px;
    grid-column: 2 / 7;
    line-height: 24px;
    h3 {
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      text-align: left;
      margin-top: unset;
    }
    @media (min-width: 769px) {
      h3 {
        font-size: 20px;
        line-height: 32px;
        width: 262px;
      }
    }

    .av-plot-locality,
    .av-plot-tamano {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }

    .av-plot-modified {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #828B8B;
      margin-bottom: -7px;
    }

    .av-plot-use {
      padding: 8px 0;
      margin-top: -7px;
      @media (min-width: 769px) {
        padding-top: 24px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        list-style: none;
        padding-left: 0px;

        li {
          span {
            background-color: #eff0e8;
            border-radius: 4px;
            padding: 4px 8px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .av-plot-buttons {
    display: flex;
    gap: 8px;
    grid-column-end: 5;
    grid-column-start: 2;
    vertical-align: middle;
    align-items: center;
    @media (min-width: 769px) {
      grid-column-end: 7;
      grid-column-start: 5;
      grid-row-start: 2;
    }
    .av-btn-link {
      align-items: center;
      background-color: initial;
      border: none;
      border-radius: 0;
      color: #107e3e;
      display: inline-flex;
      gap: 16px;
      line-height: 1.8em;
      padding: 0 0.5em;
      text-decoration: none;
      white-space: nowrap;
      flex-shrink: 0;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      transition: all 0.5s ease-in-out;
    }
    .av-btn-secondary-small {
      font-family: in;
      font-size: 14px;
      line-height: 30px;
      padding: 0 16px;
      background-color: initial;
      border: 1px solid #107e3e;
      border-radius: 8px;
      color: #107e3e !important;
      text-decoration: none;
      white-space: nowrap;
      align-items: center;
      background-color: white;
      border: 1px solid #053c1c;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      flex-shrink: 0;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      gap: 8px;
      justify-content: center;
      line-height: 24px;
      padding: 8px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      white-space: nowrap;
    }
    .av-btn-secondary-small {
      background-color: transparent !important;
      border-color: #122C1F;
      color: #122C1F;
      cursor: pointer;
    }
  }
}

@media (min-width: 769px) {
  .av-plot-card {
    gap: 0 16px;
    grid-template-columns: repeat(6, 1fr);
    padding: 24px 0;

    .av-plot-photo {
      grid-row: 1 / 3;
      width: 145px;
    }
  }
}
.av-empty-plot-box {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: #ffffffb3;
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
          90deg,
          #4cd964,
          #5ac8fa,
          #007aff,
          #34aadc,
          #5856d6,
          #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --swiper-pagination-color: #c6e75a;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --av-header-height: 80px;
  --av-footer-height: 253.6666717529297px;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font: inherit;
  margin: 0;
  text-rendering: optimizeLegibility;
  vertical-align: initial;
  border: 1px dashed #107e3e;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}

.av-mp-gp__h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: #101717;
}

.av-mp-gp__h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #101717;
}

.av-plot-data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.av-mp-gp__plot-data-sec {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.av-mp-gp__plot-data-sec--002 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.av-plot-use ul {
  margin-bottom: 0;
}

.av-mp-gp__btn-add-plot {
  width: 100%;
  height: auto;
  margin: 32px 0 44px 0;
  display: flex;
  justify-content: center;
}

.av-plot-buttons{
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .av-plot-data {
    flex-direction: row;
    justify-content: flex-start;
  }

  .av-mp-gp__plot-data-sec {
    width: 50%;
  }

  .av-mp-gp__plot-data-sec--002 {
    justify-content: end;
    align-items: flex-end;
  }

  .av-mp-gp__btn-add-plot {
    justify-content: flex-end;
    margin: 44px 0 80px 0;
  }

  .av-plot-modified {

  }
}

.plots-cabecera {
  flex-wrap: wrap;
}
@media (max-width: 769px) {
  .h3-plot {
    font-size: 16px !important;
  }
}