<div class="header">
  <div class="header-container">
    <nav class="navbar">
      <div class="navbar__logo-cta-menu">
        <div class="navbar__logo">
          <a href="/">
            <img
              src="http://localhost:8080/documents/d/guest/logo-avanis"
              alt="Logo Avanis"
              class="navbar__logo-complete"
            />
            <img
              src="http://localhost:8080/documents/d/guest/logo-avanis-small"
              alt="Logo Avanis Small"
              class="navbar__logo-small"
            />
          </a>
        </div>

        <div class="navbar__cta-menu">
          <div class="navbar__cta navbar__cta--top">
            <a
              href="#"
              class="navbar__btn navbar__btn--outline"
              >Entrar</a
            >
            <a
              href="#"
              class="navbar__btn navbar__btn--primary"
              >Crear cuenta gratis</a
            >
          </div>

          <div class="navbar__menu-icons-mobile">
            <span
              class="navbar__menu-icons-mobile-icon navbar__menu-icons-mobile-burger"
              >Menú
              <img
                src="http://localhost:8080/documents/d/guest/icon-burger-menu"
                alt="Burger Menu Icon"
                class="navbar__icon-burger"
              />
            </span>
            <span
              class="navbar__menu-icons-mobile-icon navbar__menu-icons-mobile-close"
              >Menú
              <img
                src="http://localhost:8080/documents/d/guest/icon-close"
                alt="Close Icon"
                class="navbar__icon-x-close"
              />
            </span>
          </div>
        </div>
      </div>

      <div class="navbar__menu-list">
        <lfr-widget-nav></lfr-widget-nav>
      </div>

      <div class="navbar__cta navbar__cta-bottom">
        <a
          href="#"
          class="navbar__btn navbar__btn--outline"
          >Entrar</a
        >
        <a
          href="#"
          class="navbar__btn navbar__btn--primary"
          >Crear cuenta gratis</a
        >
      </div>
    </nav>
  </div>
</div>
