.avanis-compartir-rrss-portlet {
}
.div-copiar-enlace {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5em;
  cursor: pointer;
}
.notification-link-copiado {
  position: fixed;
  bottom: 90%;
  right: 0%;
  background-color: rgba(16, 126, 62, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 2s ease-in-out;
  opacity: 1;
  z-index: 155;
}

 .share-buttons {
   margin: 1em 0;
   display: flex;
   gap: 12px;
 }


.share-buttons a{
  background-color: black;
  color: white;
}

#facebook-share{
  font-size: 40px;
  background-color: white;
  color: black;
}